name: Documentation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  docs:
    name: Build & Publish Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-env

      - name: Build documentation
        run: cargo doc --no-deps --document-private-items

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
