name: Rust Tests & Linting

on:
  push:
    branches: [ develop, main ]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ develop, main ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  PYO3_USE_ABI3_FORWARD_COMPATIBILITY: 1

jobs:
  test:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-python-env
        with:
          python-version: '3.10'

      - name: Run tests
        run: cargo test --lib --verbose --no-default-features
        env:
          PYO3_PYTHON: /usr/bin/python3

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-env
        with:
          components: rustfmt
      - run: cargo fmt -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-python-env
        with:
          rust-components: clippy
          python-version: '3.10'
      - run: cargo clippy --lib --all-features -- -D warnings

  build-release:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-rust-python-env
        with:
          python-version: '3.10'
      - run: cargo build --release --verbose
